.card-image1{
    width: 100%;
    height: 280px;
}

.card-text{
    width: 100%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #050505;
    text-align: center;
    
}

header{
    background-image: url('../img/wall.png');
    padding: 20px;
    text-align: center;
}

body{
    background-image: url('../img/cork.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

#lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.c-trasparent{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

/*font*/
.edu-tas-beginner {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sometype-mono {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

/*posizionamento*/
.relative{
    position: relative;
    bottom: 380px;
    left: 45%;
}

.relative.target{
    position: relative;
    top: 0px;
}

.card:hover{
   transform: rotate(0.02turn);
   .none {
       display: none;
   }
}

.carousel{
    background-color: rgba(240, 248, 255, 0.822);
    height: 100vh;
}

.carousel-img{
    width: 600px;
    height: 600px;
    opacity: 1;
}


.position-absolutee{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 12px;
}

.mt-40{
    margin-top: 100px;
}

