.card-image1{
    width: 100%;
    height: 280px;
}

.card-text{
    width: 100%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #050505;
    text-align: center;
}

header{
    background-image: url('../img/wall.png');
    padding: 20px;
    text-align: center;
}

body{
    background-image: url('../img/cork.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .oooh-baby-regular {
    font-family: "Oooh Baby", cursive;
    font-weight: 400;
    font-style: normal;
  }

.relative{
    position: relative;
    bottom: 370px;
    left: 120px;
}

.relative.target{
    position: relative;
    top: 0px;
}